.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 22px;


  .footer-text {
    color: #3C3C3C;
    font: normal normal normal 18px/24px Open Sans;
  }

  .icons {
    position: absolute;
    right: 142px;
    bottom: 3px;

    img {
      margin-left: 20px;
    }
  }
}