@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "home-header";
@import "home-3-col";
@import "home-4-steps";
@import "home-about-us";
@import "home-who-we-help";
@import "home-contact";
@import "footer";
@import "login-and-register";

body {
  font-family: $font-base;
  background-color: #fff;
}

.home {
  width: 1900px;
  margin: 0 auto;
  background-color: #fff;
}
